<!--Directive ngIF  <div class="box" *ngIf="isdisp">
</div>
<button *ngIf="isdisp" (click)="hidebox()">hide</button>
<button *ngIf="!isdisp" (click)="hidebox()">Display</button>
 -->

 <!-- Directive NgFor -->
 <!-- <ul>
  <li *ngFor="let item of items">
    <a href="">{{item}}</a>
  </li>
 </ul> -->

 <!-- Directive ngClass -->
<!-- <div [ngClass]="{'red':error,'green':!error}">Hello world</div> -->
<!-- Directive ngStyle -->
<!-- <div [ngClass]="{'red':error,'green':!error}"
 [ngStyle]="{'backgroundColor':'#000'}">Hello world</div> -->

